/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 190 15% 98%; /* Claro */
    --foreground: 180 20% 10%; /* Escuro */
    --card: 190 15% 98%; /* Claro */
    --card-foreground: 180 20% 10%; /* Escuro */
    --popover: 190 15% 98%; /* Claro */
    --popover-foreground: 180 20% 10%; /* Escuro */
    --primary: 187.3 58.8% 53.9%; /* #42C1CA */
    --primary-foreground: 210 20% 98%; /* Branco */
    --secondary: 187 29% 80%; /* Mais claro que o primário */
    --secondary-foreground: 187 25% 20%; /* Mais escuro que o secundário */
    --muted: 187 29% 80%; /* Mais claro que o primário */
    --muted-foreground: 187 25% 20%; /* Mais escuro que o secundário */
    --accent: 187 29% 80%; /* Mais claro que o primário */
    --accent-foreground: 187 25% 20%; /* Mais escuro que o secundário */
    --destructive: 0 84.2% 60.2%; /* Vermelho */
    --destructive-foreground: 210 20% 98%; /* Branco */
    --border: 187 29% 80%; /* Mais claro que o primário */
    --input: 187 29% 80%; /* Mais claro que o primário */
    --ring: 187.3 58.8% 53.9%; /* #42C1CA */
    --radius: 0.3rem;
    --chart-1: 187.3 58.8% 53.9%; /* #42C1CA */
    --chart-2: 180 58.8% 35%; /* Cor complementares */
    --chart-3: 160 58.8% 45%; /* Cor complementares */
    --chart-4: 43 74% 66%; /* Laranja */
    --chart-5: 27 87% 67%; /* Amarelo */
  }

  .dark {
    --background: 180 20% 10%; /* Escuro */
    --foreground: 210 20% 98%; /* Claro */
    --card: 180 20% 10%; /* Escuro */
    --card-foreground: 210 20% 98%; /* Claro */
    --popover: 180 20% 10%; /* Escuro */
    --popover-foreground: 210 20% 98%; /* Claro */
    --primary: 187.3 58.8% 53.9%; /* #42C1CA */
    --primary-foreground: 210 20% 98%; /* Branco */
    --secondary: 187 29% 40%; /* Mais escuro que o primário */
    --secondary-foreground: 210 20% 98%; /* Branco */
    --muted: 187 29% 40%; /* Mais escuro que o primário */
    --muted-foreground: 210 20% 98%; /* Branco */
    --accent: 187 29% 40%; /* Mais escuro que o primário */
    --accent-foreground: 210 20% 98%; /* Branco */
    --destructive: 0 62.8% 30.6%; /* Vermelho escuro */
    --destructive-foreground: 210 20% 98%; /* Branco */
    --border: 187 29% 40%; /* Mais escuro que o primário */
    --input: 187 29% 40%; /* Mais escuro que o primário */
    --ring: 187.3 58.8% 53.9%; /* #42C1CA */
    --chart-1: 187.3 58.8% 53.9%; /* #42C1CA */
    --chart-2: 160 58.8% 35%; /* Cor complementares */
    --chart-3: 30 80% 55%; /* Cor complementares */
    --chart-4: 280 65% 60%; /* Cor complementares */
    --chart-5: 340 75% 55%; /* Cor complementares */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
